

<div class="card text-white bg-info mb-3">
  <div class="card-body">
    <h4>Project Proposal</h4>
    <h6>Due July 19th</h6>
    The project proposal should be one paragraph (200-400 words). Your project proposal should describe: <br><br>
    <ul>
  <li>What is the problem that you will be investigating? Why is it interesting?</li>
  <li>What literature will you review to show context and related works?</li>
  <li>What architecture and methods are you proposing? How does your work differ from existing implementations?</li>
  <li>How will you quantitatively and qualitatively evaluate your results?</li>
  </ul>
  </div>
</div>
<div class="card text-white bg-info mb-3">
  <div class="card-body">
    <h4>Project Check-In</h4>
    <h6>Due August 2nd</h6>
    The project check-in should be between 2-3 pages. The check-in should include: <br><br>

    <ul>
  <li>Introduction that provides context on related works, the structure of your paper, and what novel methods you are suggesting.</li>
  <li>Problem Statement: What is the problem at hand, why is it relavent and important?</li>
  <li>Technical Approach: Summarize your methods and any planned experiments you have to test them. </li>
  <li>Early Results: Provide results for your baseline comparisons and any other preliminary quantitative/qualitative findings.</li>
  </ul>
  </div>
</div>

<div class="card text-white bg-info mb-3">
  <div class="card-body">
    <h4>Final Manuscript Draft</h4>
    <h6>Due August 23rd</h6>
    The final manuscript should be between 6 - 8 pages and should be structured using <a href="http://www.pamitc.org/cvpr15/files/cvpr2015AuthorKit.zip" style="color: darkblue !important">this template</a>. The outline
    of your manuscript is as follows:<br><br>

    <ul>
  <li>Title and Authors</li>
  <li>Abstract: Summarize your work in no more than 300 words. </li>
  <li>Related Work: Review published work and explain the novelty of your methods/results.</li>
  <li> Data: What is the dataset you used, its distribution, size, and other characteristics. </li>
  <li> Methods: Discuss your methods and why it was appropriate for the problem at hand. Diagrams of your figure, including system architecture,
    mathetmical equations, tables, and other helpful media.
  <li>Experiments: Discuss tests you did for your model. Ablation studies, testing for accuracy, hyperparameter tuning, etc. Graphs and tables illustrating your results are required.</li>
  <li>Conclusion: Give the gist of your findings; highlight what new contributions you have made to the field and discuss real-world applications of your findings.
  </ul>
  </div>
</div>


<div class="card text-white bg-info mb-3">
  <div class="card-body">
    <h4>Video Presentation</h4>
    <h6>Due August 23rd</h6>
    The final presentation should be a maximum 5 minute video presentation. You can show demos of your model in action, a slide presenation, etc. Make sure to
    discuss the following points in your presentation:
    <br><br>

    <ul>
  <li>The problem's importance</li>
  <li>Related Methods in the literature</li>
  <li>Summary of your methods</li>
  <li>Figures/Tables of your results</li>
  <li>High-level implications and applications of your findings</li>
  </ul>
  </div>

</div>
