<div class="card mb-3">
  <img class="card-img-top" src="../../images/fundus.jpg" width="150" height="176" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Deep Retinal Image Analysis (DRIA)</h5>
    <p class="card-text">A unified framework of retinal image analysis that perform two tasks; segmentation and classification. The segmentation part provides (1) blood vessel, (2) optic disc/cup segmentation. While the classification part provides classification for diabetic retinopathy (DR), glaucoma and age-related macular degeneration.</p>
    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
     <a href="https://arxiv.org/pdf/1609.01103.pdf" class="btn btn-info">Related Paper</a>
  </div>
</div>

<div class="card mb-3">
  <img class="card-img-top" src="../../images/mammogram.jpg" width="150" height="176" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Multi-view Deep Mammograms Image Analysis  (MV-DMIA)</h5>
    <p class="card-text">A multi-view convolutional neural network based on multiple mammography views that extracts discriminative features from the mediolateral oblique (MLO) and craniocaudal (CC) views of the mammographic images for both left and right breast and can effectively incorporate these features for mass deletion and classification. Dataset for this task is publicly available.</p>
    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
     <a href="https://ieeexplore.ieee.org/stamp/stamp.jsp?arnumber=8897609" class="btn btn-info">Related Paper</a>
  </div>
</div>

Content authored by: Dr. Manal Al Ghamdi
