<div class="card w-75">
  <div class="card-body">
    <h5 class="card-title">Meeting 1 Recording</h5>
    <p class="card-text">07/13/2020</p>
    <a href="
    https://miami.zoom.us/rec/share/y8MtM5b3-n9OZ9LO5hjSdJQtPaX0aaa8gXJM-qIIyEl3Nrop8KlsgBsitfZRjIJW?startTime=1594646776000" class="btn btn-info">Go To Recording</a>
  </div>
</div>

<div style="margin:15px"> </div>

<div class="card w-75">
  <div class="card-body">
    <h5 class="card-title">Meeting 2 Recording</h5>
    <p class="card-text">07/20/2020</p>
    <a href="
    https://miami.zoom.us/rec/share/4pFNNqnppzhJTZGWtn7ufasEHY3reaa823RN_qAOzh3AWoWXZ1JrsdMBiv4z_Fmc?startTime=1595250106000" class="btn btn-info">Go To Recording</a>
  </div>
</div>

<div style="margin:15px"> </div>

<div class="card w-75">
  <div class="card-body">
    <h5 class="card-title">Meeting 4 Recording</h5>
    <p class="card-text">07/27/2020</p>
    <a href="https://www.dropbox.com/s/rug7thaxynvszyv/meeting-02-27-2020.mp4?dl=0" class="btn btn-info">Go To Recording</a>
  </div>
</div>

<div style="margin:15px"> </div>

<div class="card w-75">
  <div class="card-body">
    <h5 class="card-title">Meeting 5 Recording</h5>
    <p class="card-text">08/03/2020</p>
    <a href="https://miami.zoom.us/rec/share/1_5oJLz_yT9OeoXM0WjHZLx7RLrcaaa803NK_aAExEiTAty5o8QHyM4rR2OGRi3f" class="btn btn-info">Go To Recording</a>
  </div>
</div>

<div style="margin:15px"> </div>


<div class="card w-75">
  <div class="card-body">
    <h5 class="card-title">Meeting 6 Recording</h5>
    <p class="card-text">08/10/2020</p>
    <a href="https://miami.zoom.us/rec/share/6Zd5Ee7t6FFOBdLkzUzhA6FxALvHX6a82iMbqfoIzBv-DU07byQOQwh0UCzgvQTN?startTime=1597064565000" class="btn btn-info">Go To Recording</a>
  </div>
</div>

<div style="margin:15px"> </div>


<div class="card w-75">
  <div class="card-body">
    <h5 class="card-title">Meeting 7 Recording</h5>
    <p class="card-text">08/17/2020</p>
    <a href="https://miami.zoom.us/rec/share/-8xyCfKpx1NLTbfR41rjWYM_HNvhT6a8gCNP_aZZzEner1hH3zR6lU8rR3mCf5Dj?startTime=1597669289000" class="btn btn-info">Go To Recording</a>
  </div>
</div>

<div style="margin:15px"> </div>


<div class="card w-75">
  <div class="card-body">
    <h5 class="card-title">Meeting 8 Recording</h5>
    <p class="card-text">08/31/2020</p>
    <a href="https://miami.zoom.us/rec/share/5eEtIO751WZIS4GW8UrgC7w8N4P3eaa80yJKq_AMmBoS7V-u-6wVMUV9rkmWsnvk?startTime=1598879084000" class="btn btn-info">Go To Recording</a>
  </div>
</div>





<div style="margin:15px"> </div>
