<div class="card w-75">
  <div class="card-body">
    <h5 class="card-title">Meeting 1 Recording</h5>
    <p class="card-text">07/13/2020</p>
    <a href="
    https://miami.zoom.us/rec/share/4pFNNqnppzhJTZGWtn7ufasEHY3reaa823RN_qAOzh3AWoWXZ1JrsdMBiv4z_Fmc?startTime=1595250106000" class="btn btn-info">Go To Recording</a>
  </div>
</div>

<div style="margin:15px"> </div>

<div class="card w-75">
  <div class="card-body">
    <h5 class="card-title">Meeting 3 Recording</h5>
    <p class="card-text">07/27/2020</p>
    <a href="https://www.dropbox.com/s/rug7thaxynvszyv/meeting-02-27-2020.mp4?dl=0" class="btn btn-info">Go To Recording</a>
  </div>
</div>

<div style="margin:15px"> </div>
